/*--Body--*/
	body {
		background-color: #e1ddd9;
		font-size: 12px;
		font-family: Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
		background-color: #7dc0f1;
		padding:0px;
		margin:0px;
		text-align: center;
		background-image:url(/images/background.jpg);
		background-repeat:repeat-x;
	}
	
	/*--Account Details Links--*/
	.accountLinks{
		color:#000000;
	}

	/*--Content--*/
		#content { 	
			text-align: left;
			vertical-align: top;	
			margin: 0px auto;
			padding: 0px;
			width: 989px;
			background-image:url(/images/bg.gif);
			background-repeat:repeat-x;
			background-color: #7dc0f1;
		}
		
		/*--Header Box--*/
			.headerbox {
				font-family:Arial, Helvetica, sans-serif;
				font-size: 17px;
				color:#FFF;
				margin-bottom:0px;
				margin-top:10px;
				margin-left:20px;
				font-weight:bold;
			}
			
			/*--Header Title--*/
				div#headerTitle{
					float:left;
					margin-left:.2em;
					width:35em;
					text-align:center;
					color:#FFF;
					margin-top:-1.5em;
				}
			
					h1#h1Title{
						font-size:3em;
					}
					
					span.slogan{
						position:relative;
						top:-1.5em;
					}
					
			/*--Login Form--*/
				.login {
					font-family:Arial, Helvetica, sans-serif;
					font-size:12px;
					color:#FFF;
					float:right;
					height:70px;
					width:200px;
					margin-right:20px;
					margin-top:15px;
				}
				
				/*--Good and bad messages--*/
				.loginMessages{
					padding-top:1em;
					padding-bottom:1em;
					text-align:center;
					font-size:3.5em;
				}
				
			/*--User Panel--*/
				div.userInfo {
					font-family:Arial, Helvetica, sans-serif;
					color:#FFF;
					float:right;
					text-align:left;
					height:70px;
					width:14em;
					
					padding-left:1.2em;
				}
				
				span.userText{
					font-size:1.2em;
				}
				
				/*--User Panel / Text--*/
					span.estimated{
						color:#FFCC00;
					}
					span.unconfirmed{
						color:yellow;
					}
					
					span.confirmedBalance{
						color:#00FF00;
					}
				
		/*--Navigation--*/
			#nav { 	
				text-align: left;
				padding: 0px;
				width: 987px;
				height: 26px;
				border:1px solid #000;
				background-color:#01263a;
			}
			
			/*--Nav List Links--*/
				ul#list-nav li {
					display:inline
				}
				
				ul#list-nav {
					list-style:none;
					margin:0px;
					padding:0;
					width:99%;
				}
				
				
				ul#list-nav li a {
					text-decoration:none;
					font-family:Arial, Helvetica, sans-serif;
					font-size:14px;
					padding:.3em 1em;
					background:#01263a;
					color:#eee;
					float:left;
					text-align:center;
					
				}
				
				ul#list-nav li a:hover {
					background: #007ab6;
					color:#000;
				}
				
		/*--Main Box--*/
		
		/*--Content Box--*/
			.bigContent{
				width:90%;
			}
			
			.contContent{
				background-color:#FFF;
				padding:1em;
			}
			
			.contTL{
				background-image:url(/images/contentBox/headerTleft.png);
				background-repeat:no-repeat;
				background-position:top left;
				width:1.4em;
				height:3.8em;
			}
			.contTC{
				background-image:url(/images/contentBox/headerTcenter.png);
				background-repeat:repeat-x;
				background-position:top left;
				
				color:#FFF;
				font-size:1.6em;
				font-weight:bold;
			}
			.contTR{
				background-image:url(/images/contentBox/headerTright.png);
				background-repeat:no-repeat;
				background-position:top right;
				width:1.4em;
			}
			
/*--Misc--*/
#tooltip{
	position:absolute; 
	overflow:hidden;
	visibility: hidden;
	z-index:999; 
	width:auto; 
	height:auto;
	padding:.2em;
	background-color:#FFCC33;
	border: 1px dashed #000;
	color:#000;
}
			


a{
	color:#FFF;
}


a#logo {
display:block;
background: url(/images/logo.png) no-repeat scroll 0 0 transparent;
width:300px; height:64px;
float:left;
margin-top:15px;
}


#headerbox { 
	height:92px;
	margin:0px auto;
	width:987px;
	background-image:url(/images/headerbg.gif);
	background-position:top;
	position:relative;
	border:1px solid #000;
}

#graph{
	margin-top:20px;
	}
	

	

.text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333;
	margin-left:20px;
	margin-right:20px;
	text-align:justify;
}	
	
.header {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #3b3d3b;
	margin-bottom:0px;
	font-weight:bold;
}


.boxtext{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	margin-top:20px;
	margin-left:20px;
	width:260px;
	text-align:justify;
}

.footer { 	
	text-align: left;
	padding-left:5px;
	padding-top:5px;
	width: 983px;
	height: 20px;
	margin-left:0px;
	border:1px solid #333;
	background-color:#486269;
	color:#FFF;
}

#mainbox{
	padding: 5px 0px 0px 5px;
}

.boxleft { 
	background-image:url(/images/box.gif);
	background-repeat:no-repeat;
	height:211px;
	width:305px;
	float:left;
}


